body	{ background-color: white;
	  color: black;
	  font-family: "Times New Roman", Times, serif }
h1	{ background-color: #221e22;
	  color: white;
	  font-family: 'Orienta', sans-serif;
	  font-size: 45 px;
	  font weight: normal;
  	  line-height: 24px;
	  margin: 0 0 24px;
	  text-align: right;
  	  padding: 30px }
ul	{ display: inline;
	  text-decoration: none; }
div	{ background-color: #dcd6f7;
	  color: #221e22;
	  font-size: 18pt; }
nav ul  { list-style-type: none;
	  text-align: right;
  	  margin: 0;
  	  padding: 0;
  	  overflow: hidden;
  	  background-color: #dcd6sf;
	  color: black; }
li a 	{ display: block;
	  background-color: #221e22;
          color: white;
	  font-weight: 300;
	  text-align: right;
  	  padding: 14px 16px;
   	  text-decoration: none; }
li a:hover { background-color: #44355b; }

.humanity  {  display: block;
	      margin-left: auto;
	      margin-right: auto;
	      width: 45%;  }
	   { box-sizing: border-box }

.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #44355b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: 31263e;
}


.signin {
  background-color: #31263e;
  text-align: center;
}

table { margin: auto;
        border: 5px solid #000066;
        width: 600px; 
	text-align: center;}

header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box; }
body { margin: 0; }
       background-color:ff7f11; }
#container { background-color: #ff3f00;
	     color: #2f230f;
	     min-width: 960px;
	     font-family: veranda, arial, sans-serif; }

header { background-color: #221e22;
	 color: #dcd6f7;
	 text-align: right;
	 padding: 0 20px;
	 border-bottom: 2px solid #000000; }
nav { float: left;
      width: 150px; }
aside { float: right;
	width: 200px; }
main { margin: 0 210px 0 160px;
       padding: 1px 10px 20px 10px;
       background-color: white;
       color: #31263E; }
footer	{ font-size: .70em;
	  text-align: center;
	  color: white;
	  background-color: #31263e;
	  padding-top: 10px;
	  clear: both; }
.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}